body {
  margin: 0px;
  font-family: Roboto;
}

.bg-container {
  min-height: 100vh;
  background-color: #ffd569;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.heading {
  text-align: center;
  font-size: 28px;
}

.counter {
  color: #ffd569;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-top: 30px;
  width: 60%;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  padding: 8px;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .content-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    padding: 60px;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .heading {
    font-size: 48px;
  }

  .image {
    width: 80%px;
  }

  .fruit-main-container {
    display: flex;
  }

  .button {
    font-size: 16px;
  }
}
